        <!-- ABOUT CONTENT -->
        <section class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-box">
                            <h3>About Us</h3>
                            <p>
                                <strong>Morbi fringilla dui non purus porttitor mattis suspendisse quis vulputate risus.</strong>
                            </p>
                            <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue, et mollis nunc diam eget sapien. Nulla facilisi. Etiam feugiat. Phasellus id tristique orci. Proin consequat mi at felis scelerisque ullamcorper. Etiam tempus, felis vel eleifend porta, velit nunc mattis urna, at ullamcorper erat diam dignissim ante</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-box">
                            <h3>Behind This Project</h3>
                            <p>Phasellus quis lectus metus, at posuere neque.
                                <strong>Sed pharetra nibh eget orci convallis at posuere leo convallis</strong>. Sed blandit augue vitae augue scelerisque bibendum.</p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide-about-people">
                                        <div class="people-block">
                                            <figure>
                                                <img src="images/about-1.jpg" alt="">
                                            </figure>
                                            <div class="people-desc">
                                                <span class="people-name">John Doe</span>
                                                <span class="people-job">CEO/Director</span>
                                                <p>Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit</p>
                                                <ul class="inline">
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-dribbble"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-github"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /.people -->
                                        <div class="people-block">
                                            <figure>
                                                <img src="images/about-1.jpg" alt="">
                                            </figure>
                                            <div class="people-desc">
                                                <span class="people-name">John Doe</span>
                                                <span class="people-job">CEO/Director</span>
                                                <p>Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit</p>
                                                <ul class="inline">
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-dribbble"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-github"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /.people -->
                                        <div class="people-block">
                                            <figure>
                                                <img src="images/about-1.jpg" alt="">
                                            </figure>
                                            <div class="people-desc">
                                                <span class="people-name">John Doe</span>
                                                <span class="people-job">CEO/Director</span>
                                                <p>Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit</p>
                                                <ul class="inline">
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-dribbble"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-github"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /.people -->
                                        <div class="people-block">
                                            <figure>
                                                <img src="images/about-1.jpg" alt="">
                                            </figure>
                                            <div class="people-desc">
                                                <span class="people-name">John Doe</span>
                                                <span class="people-job">CEO/Director</span>
                                                <p>Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit</p>
                                                <ul class="inline">
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-dribbble"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-github"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /.people -->
                                        <div class="people-block">
                                            <figure>
                                                <img src="images/about-1.jpg" alt="">
                                            </figure>
                                            <div class="people-desc">
                                                <span class="people-name">John Doe</span>
                                                <span class="people-job">CEO/Director</span>
                                                <p>Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit</p>
                                                <ul class="inline">
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-dribbble"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-github"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /.people -->
                                        <div class="people-block">
                                            <figure>
                                                <img src="images/about-1.jpg" alt="">
                                            </figure>
                                            <div class="people-desc">
                                                <span class="people-name">John Doe</span>
                                                <span class="people-job">CEO/Director</span>
                                                <p>Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit</p>
                                                <ul class="inline">
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-dribbble"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-github"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /.people -->
                                        <div class="people-block">
                                            <figure>
                                                <img src="images/about-1.jpg" alt="">
                                            </figure>
                                            <div class="people-desc">
                                                <span class="people-name">John Doe</span>
                                                <span class="people-job">CEO/Director</span>
                                                <p>Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit</p>
                                                <ul class="inline">
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-dribbble"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-github"></i></a>
                                                    </li>
                                                    <li><a class="iconize round" href="javascript:;"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- /.people -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-box">
                            <!-- Nav tabs -->
                            <h3>High Quality Products</h3>
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">Process</a>
                                </li>
                                <li><a href="#profile" data-toggle="tab">Prepare</a>
                                </li>
                                <li><a href="#messages" data-toggle="tab">Display</a>
                                </li>
                                <li><a href="#settings" data-toggle="tab">Packaging</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home">
                                    <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
                                    <p>Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum</p>
                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <p>
                                        Facilisi. Etiam enim metus, luctus in adipiscing at, consectetur quis sapien. Duis imperdiet egestas ligula, quis hendrerit ipsum ullamcorper et. Phasellus id tristique orci. Proin consequat mi at felis scelerisque ullamcorper. Etiam tempus
                                    </p>
                                    <p>Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum</p>
                                </div>
                                <div class="tab-pane fade" id="messages">
                                    <p>Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum</p>
                                    <p>
                                        Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="settings">
                                    <p>
                                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin ante enim, tincidunt ut interdum in, adipiscing quis tortor. Nulla turpis lacus, rutrum in adipiscing ut, porttitor ac ante. Sed euismod, mauris a.
                                    </p>
                                    <p>Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum</p>
                                </div>
                            </div>
                            <!-- END TAB -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-box">
                            <h3>Quality Level</h3>
                            <p>Sed blandit augue vitae augue scelerisque bibendum.</p>
                            <div class="skill-bar">
                                <ul>
                                    <li>
                                        <div class="bar" style="width:100%;">
                                            <h5>Branding</h5>
                                        </div>
                                        <span>10 / 10</span>
                                    </li>
                                    <li>
                                        <div class="bar" style="width:85%;">
                                            <h5>Elegant</h5>
                                        </div>
                                        <span>8.5 / 10</span>
                                    </li>
                                    <li>
                                        <div class="bar" style="width:92%;">
                                            <h5>Quality</h5>
                                        </div>
                                        <span>9.2 / 10</span>
                                    </li>
                                    <li>
                                        <div class="bar" style="width:81%;">
                                            <h5>Creative</h5>
                                        </div>
                                        <span>8.1 / 10</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       