<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<!-- START BLOG POST -->
<!-- POST -->

<article class="post">
  <figure>
    <a href="blog-post.html">
      <img src="images/blog-thumb.jpg" alt="">
    </a>
  </figure>
  <div class="post-meta">
    <a class="post-icon" href="blog-post.html"><i class="fa fa-file-text-o"></i></a>
    <h5>Published</h5>
    <span class="published">17 Desember 2015</span>
    <h5>Tags</h5>
                                <span><a href="javascript:;">Standard</a>
                                </span>
    <h5>Comments</h5>
                                <span><a href="javascript:;">2</a>
                                </span>
  </div>
  <h2 class="post-title"><a href="blog-post.html">Standard Post with The Whole Universe</a>
  </h2>
  <div class="post-content">
    <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    <p>
      <span id="more-795"></span>
    </p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus.</p>
    <blockquote>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
    </blockquote>
    <p>Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. <a href="#">Cras mattis consectetur purus</a> sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
    <h2>Boom! A Large Sub-Heading</h2>
    <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. <a href="#">Integer posuere erat a ante venenatis</a> dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    <h3>A Smaller Sub-Heading</h3>
    <p>Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.</p>
                                <pre>
.empty {
width: 320px;
height: 200px;
background: #f3f3f5;
margin: 0 0 0 0;
}
                                </pre>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.</p>
    <ul>
      <li>Cras mattis consectetur purus sit amet</li>
      <li>Cras mattis consectetur purus sit amet fermentum</li>
      <li>Donec sed odio dui</li>
    </ul>
    <p>Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus.</p>
  </div>
  <div class="post-author">
    <h2 class="post-title">Blog Author</h2>
    <div class="media">
      <figure class="pull-left">
        <img class="media-object" src="images/author.png" alt="Author">
      </figure>
      <div class="media-body">
        <h4 class="media-heading"><a href="javascript:;">John Doe</a>
        </h4>
        <p>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          <br>
          <a href="#" class="zocial icon facebook">Sign in with Facebook</a>
          <a href="#" class="zocial icon googleplus">Sign in with Facebook</a>
          <a href="#" class="zocial icon twitter">Sign in with Facebook</a>
        </p>
      </div>
    </div>
  </div>
  <div class="blog-comments">
    <!-- BLOG REPLY -->
    <h2 class="post-title">Leave A Reply
      <span>Your email address will not be published.</span>
    </h2>
    <form role="form">
      <div class="form-group row">
        <div class="col-md-8">
          <input type="email" class="form-control col-md-6" placeholder="Your email">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-8">
          <input type="text" class="form-control" placeholder="Your Name">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-11">
          <textarea class="form-control" rows="10"></textarea>
        </div>
      </div>
      <br>
      <p>You may use these
        <abbr title="HyperText Markup Language">HTML</abbr>&nbsp;tags and attributes:
      </p>
      <code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt;</code>
      <p></p>
      <button type="submit" class="btn btn-default">Post Comment</button>
    </form>
    <!-- END BLOG REPLY -->
    <h2 class="post-title">Comments (5)</h2>
    <div class="blog-comment-content">
      <ul class="media-list">
        <li class="media">
          <figure class="pull-left">
            <a href="javascript:;">
              <img class="media-object" src="images/avatar-1.png" alt="comment-1">
            </a>
          </figure>
          <div class="media-body">
            <div class="comment-meta">
              <h4 class="media-heading"><a href="javascript:;">Putnam Mahmud</a>
              </h4>
                                                        <span class="time">
                                                            12 Dec 2013
                                                        </span>
              <div class="comment-extra pull-right">
                <a href="javascript:;">Reply <i class="fa fa-share"></i></a>
              </div>
            </div>
            <p>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
          </div>
        </li>
        <li class="media">
          <figure class="pull-left">
            <a href="javascript:;">
              <img class="media-object" src="images/avatar-2.png" alt="comment-1">
            </a>
          </figure>
          <div class="media-body">
            <div class="comment-meta">
              <h4 class="media-heading"><a href="javascript:;">Budi Hendarman</a>
              </h4>
                                                        <span class="in-reply">
                                                            in Reply with Putnam Mahmud
                                                        </span>
                                                        <span class="time">
                                                            27 Dec 2013
                                                        </span>
              <div class="comment-extra pull-right">
                <a href="javascript:;">Reply <i class="fa fa-share"></i></a>
              </div>
            </div>
            <p>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
          </div>
        </li>
        <li class="media">
          <figure class="pull-left">
            <a href="javascript:;">
              <img class="media-object" src="images/avatar-3.png" alt="comment-1">
            </a>
          </figure>
          <div class="media-body">
            <div class="comment-meta">
              <h4 class="media-heading">George Khaer
              </h4>
                                                        <span class="in-reply">
                                                            in Reply with Budi Hendarman
                                                        </span>
                                                        <span class="time">
                                                            3 Hours ago
                                                        </span>
              <div class="comment-extra pull-right">
                <a href="javascript:;">Reply <i class="fa fa-share"></i></a>
              </div>
            </div>
            <p>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</article>

<!-- END BLOG POST -->

</body>
</html>
