        <!-- DETAIL PRODUCT CONTENT -->
        <section class="content-wrapper">
            <div class="container">
                 <div class="col-md-12">

					<div class="row" >
            <div class="banner"
					   <div class="product-image">
							 <img ng-src="{{category.bannerImage}}" class="img-responsive" alt="">

						</div>

            </div>
					</div>
				</div>

              <div class="col-md-12">

                        <div class="row">
                          <div class="col-md-4" ng-repeat="subcategory in category.contents">
                                <div class="product-block">
                                    <div class="product-image">
                                        <a href="#/category/{{subcategory.id}}">
                                            <figure class="product-display">
                                                <img alt="" class=" product-mainpic" ng-src="{{subcategory.imageSmall}}" style="display: block;">
                                                <img ng-src="images/product-4-h.jpg" alt="" class="product-secondpic">
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <a href="javascript:;">
                                            <h5 class="product-name">{{subcategory.name}}</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                 </div>


            </div>
            <!-- /.container -->
        </section>
        <!-- END DETAIL PRODUCT CONTENT -->
