        <!-- DETAIL PRODUCT CONTENT -->
        <section class="content-wrapper">
            <div class="container">
                 <div class="col-md-12">

					<div class="row" >
            <div class="banner">
					   <div class="product-image">
							 <img ng-src="{{category.bannerImage}}" class="img-responsive" alt="">

						</div>

            </div>
					</div>
				</div>

              <div class="col-md-12">

                        <div class="row">
                          <div class="col-xs-6 col-md-4 col-lg-3" ng-repeat="subcategory in category.contents">
                                <div class="product-block">
                                    <div class="product-image">
                                      <a href="#/{{subcategory.type}}/{{subcategory.id}}">
                                            <figure class="product-display">
                                                <img alt="" class="img-responsive" ng-src="{{subcategory.imageSmall}}"  style="display: block;">

                                            </figure>
                                        </a>
                                    </div>

                                    <div class="product-meta">

                                       <div class="product-action">

                                         <h5 class="product-name">{{subcategory.name}}</h5>

                                      </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                 </div>


            </div>
            <!-- /.container -->
        </section>
        <!-- END DETAIL PRODUCT CONTENT -->
