<div class="topslider">
  <div class="carousel slide" >
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" class="img-responsive" style="margin:auto;">
        <div class="caption">
			<div class=" slider-title animated fadeInDown delay1">{{slide.text}}</div>
			<div class="hidden-xs delay2 slider-desc animated fadeIn">{{slide.desc}}</div>
		</div>
      </slide>
    </carousel>
  </div>
</div>


        <!-- BEGIN PROMO -->

<section class="promo">
  <div class="container">
    <div class="row">
       <div class="col-xs-6 col-md-4" ng-repeat="promotion in header.promotions">
                        <div class="promo-box">
                            <a href="{{promotion.link}}">
                                <figure class="promo-img">
                                    <img ng-src="{{promotion.image}}" class="img-responsive">
                                    <span class="promo-block"></span>
                                </figure>


                                <div class="promo-info">
                                    <h3 class="promo-title">{{promotion.text}}</h3>
                                    <p>&bowtie;</p>
                                </div>
                                <!--/.promo-info -->
                            </a>
                        </div>
                    </div>
    </div>
  </div>
</section>
        <!-- END PROMO -->
