<script type=text/javascript>

    // SMOOTH PRODUCT
    $('.sp-wrap').smoothproducts();

</script>


<!-- DETAIL PRODUCT CONTENT -->
        <section class="content-wrapper">
            <div class="container">
                <div class="row">

                    <div class="col-md-7">

                      <div class="product-meta">
                        <h1 class="product-title">{{product.title}}</h1>
                        <ul class="product-breadcrumb">
                          <li><a href="javscript:;">Home</a>
                          </li>
                          <li><a href="javscript:;">{{product.plantType}}</a>
                          </li>
                          <li><a href="javscript:;">{{product.plantCategory}}</a> <!-- With angular we could use a UI to change these to relevant plantType & plantCategory?-->
                          </li>
                          <li><a href="javscript:;">{{product.plantVariety}}</a>
                          </li>
                          <li class="current"><a href="javscript:;">{{product.title}}</a>
                          </li>
                        </ul>
                      </div>

                      
                        <div class="content-box">

                            <!-- Begin Img Thumbnail -->
                          <div class="sp-wrap">
                            <a ng-href="images/ggn/Agastache/BlueboaLarge.jpg">
                              <img src="images/ggn/Agastache/BlueboaLarge.jpg" alt="">
                            </a>
                            <a ng-href="images/ggn/Agastache/BlueboaLarge2.jpg">
                              <img src="images/ggn/Agastache/BlueboaLarge2.jpg" alt="">
                            </a>
                          </div>
                            <!-- end Img Thumbnail -->

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="content-box">

                            <div class="product-desc">
                              <tabset>
                                <tab heading="Description">
                                  <p>
                                    <strong>Item Description</strong>
                                  </p>
                                  <hr/>
                                  <p>{{product.description}}</p>


                                </tab>
                                <tab heading="Care">


                                  <strong>Soil:</strong>
                                  <p>{{product.soil}}</p>

                                  <strong> PH: </strong>
                                  <p>{{product.ph}}</p>

                                  <strong>Nutrition:</strong>
                                  <p> {{product.nutrition}}</p>




                                </tab>
                                <tab heading="Additional Information">


                                  <strong>Growth Rate:</strong>
                                  <p>{{product.growthRate}}</p>

                                  <strong>Most active growing season:</strong>
                                  <p>{{product.growingSeason}}</p>

                                  <strong>Flowering season:</strong>
                                  <p> {{product.floweringSeason}}</p>

                                  <strong>Flowering Months:</strong>
                                  <p>{{product.bloomTime}}</p>

                                  <strong>Comments</strong>
                                  <p>{{product.comments}}</p>

                                </tab>
                             </tabset>
                   </div>
                        </div>
                    </div>
                </div>
              </div>
          </section>



