
        <!-- DETAIL PRODUCT CONTENT -->
        <section class="content-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-box">
                            <!-- Begin Img Thumbnail -->
                            <div class="sp-wrap">
                                <a href=#>
                                    <img src="{{product.image1}}" class="img-responsive" alt="">
                                </a>
                                <a href=#>
                                    <img src="{{product.image2}}" class="img-responsive" alt="">
                                </a>
                            </div>
                            <!-- end Img Thumbnail -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-box">
                            <div class="product-meta">
                                <h1 class="product-title">{{product.title}}</h1>
                                <ul class="product-breadcrumb">
                                    <li><a href="javscript:;">Home</a>
                                    </li>
                                    <li><a href="javscript:;">Perennials</a>
                                    </li>
                                    <li><a href="javscript:;">Agastache</a> <!-- With angular we could use a UI to change these to relevant plantType & plantCategory?-->
                                    </li>
                                    <li><a href="javscript:;">Blue Boa</a>
                                    </li>
                                    <li class="current"><a href="javscript:;">{{product.title}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-desc">
                              <tabset>
                                <tab heading="Description">
                                  <p>
                                    <strong>Item Description</strong>
                                  </p>
                                  <hr/>
                                  <p>{{product.description}}</p>


                                </tab>
                                <tab heading="Care">


                                  <strong>Soil:</strong>
                                  <p>{{product.soil}}</p>

                                  <strong> PH: </strong>
                                  <p>{{product.ph}}</p>

                                  <strong>Nutrition:</strong>
                                  <p> {{product.nutrition}}</p>




                                </tab>
                                <tab heading="Additional Information">


                                  <strong>Growth Rate:</strong>
                                  <p>{{product.growthRate}}</p>

                                  <strong>Most active growing season:</strong>
                                  <p>{{product.growingSeason}}</p>

                                  <strong>Flowering season:</strong>
                                  <p> {{product.floweringSeason}}</p>

                                  <strong>Flowering Months:</strong>
                                  <p>{{product.bloomTime}}</p>

                                  <strong>Comments</strong>
                                  <p>{{product.comments}}</p>







                                </tab>
                             </tabset>
                   </div>
                        </div>
                    </div>
                </div>
