<script type=text/javascript>

    // SMOOTH PRODUCT
    $('.sp-wrap').smoothproducts();

</script>


<!-- DETAIL PRODUCT CONTENT -->
        <section class="content-wrapper">
            <div class="container">
                <div class="row">

                    <div class="col-md-7">

                      <div class="product-meta">
                        <h1 class="product-title">{{prod.name}}</h1>
                      </div>

                            <!-- Begin Img Thumbnail -->
                          <div class="sp-wrap">
                            <a ng-href="{{prod.images[0]}}">
                              <img ng-src="{{prod.images[0]}}" alt="">
                            </a>
                          </div>
                            <!-- end Img Thumbnail -->

                    </div>
                    <div class="col-md-5">
                        <div class="content-box">

                            <div class="product-desc">
                              <tabset>
                                <tab heading="Description">
                                  <p>
                                    <strong>Item Description</strong>
                                  </p>
                                  <hr/>
                                  <p>{{prod.description}}</p>


                                  <!--- <strong>Soil:</strong>
                                  <p>{{product.soil}}</p>

                                  <strong> PH: </strong>
                                  <p>{{product.ph}}</p>

                                  <strong>Nutrition:</strong>
                                  <p> {{product.nutrition}}</p>

                                   -->


                                  <!-- <strong>Additional Information </strong> -->
                                  <hr/>


                                  <strong>Growth Rate:</strong>
                                  <p>{{prod.growthRate}}</p>

                                  <strong>Most active growing season:</strong>
                                  <p>{{prod.growingSeason}}</p>

                                  <strong>Flowering season:</strong>
                                  <p> {{prod.floweringSeason}}</p>

                                  <strong>Flowering Months:</strong>
                                  <p>{{prod.bloomTime}}</p>

                                  <strong>Comments</strong>
                                  <p>{{prod.comments}}</p>

                                </tab>
                             </tabset>
                   </div>
                        </div>
                    </div>
                </div>
              </div>
          </section>



